*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.bcf
*.bib
*.blg
*.dvi
*.glg
*.gls
*.fdb_latexmk
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.ptc
*.run.xml
*.synctex.gz 
*.pdf
!grimuar.pdf
!Pictures/background.pdf'
!Pictures/chapter_head_1.pdf'
!Pictures/chapter_head_2.pdf'
!Pictures/placeholder.jpg'
!Pictures/
!Pictures/*